.wrapper{
	display: grid;
	grid-template-areas: 
	"a a a a a a b" 
	"c c c c c c c";
}
.header{
	display:grid;
	grid-area: a; 
}
.flags{
	display: inline-grid;
	grid-area: b;
	img{
		/*display: inline;*/
		height: 20px;
		width: 30px;
	}
}