.wrapper{
	display: grid;
	grid-template-areas: 
	"a a a a a a b" 
	"c c c c c c c"
	"d d d d d d d";
}
.header{
	display:grid;
	grid-area: a; 
}
.flags{
	display: inline;
	grid-area: b;
	img{
		/*display: inline;*/
		padding: 5px;
		height: 20px;
		width: 30px;
	}
}
/*.grid-item{
	padding: 5px;
}*/
.pictures{
	display: grid;
	grid-area: c;
}
.content{
	display: grid;
	grid-area: d;
}