html{
    scroll-behavior: smooth !important;
}
body{
    background-color: #ffe494;
/*    scroll-behavior: smooth !important;*/
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 75px auto auto  auto auto auto auto auto 50px;
    grid-template-areas: 
        "a a b b b b b b b"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "c c d d d d d d d"
        "f f e e e e e e e";
}

.logo{
    display: grid;
    grid-area: a;
    background-color: #ffd374;
/*    background: linear-gradient(to right,#298752,#718729);*/

    color: black;
    font-size: 40px;
    justify-items: center;
    align-items: center;

}
.header{
    display: grid;
    grid-area: b;
    background-color: #ffd374;
    color: #black;
/*    font-size: 40px;*/
    justify-items: center;
    align-items: center;
}
.nav{
    display: grid;
    grid-area: c;
/*    background-color: #298752;*/
    background: linear-gradient(to right,#ffd374,#ffe494);
    color: black;
    font-size: 25px;
    justify-items: center;  

    ul {
        list-style: none;
    }
    a {
        text-decoration:none;
    }
    a:hover {
        background-color: #c53a30;
        color: #ffffff;
    }
}
.nav-bottom{
    display: grid;
    grid-area: f;
    background-color: #ffd374;
/*    background: linear-gradient(to right,#298752,#718729);*/

}
/*.nav-right{
    display: grid;
    grid-area: f;
    background: linear-gradient(to right,#298752,#C7F2A7);
}*/

.nav ul li a{
    list-style-type: none;
    display: inline-grid;
    color: black;
}

.content{
/*    scroll-behavior: smooth;*/
    display: grid;
    grid-area: d;
    background-color: #772987;
    color: #ffffff;
    font-size: 20px;
}

.inner-grid {
/*  scroll-behavior: smooth;*/

  display: grid;
  background: #ffe494;
  color: #404a12;
  height: 100%;
  grid-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.card{
    background-color: #c53a30;
    color: #ffffff;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    p {
        margin-left: 15px;
    }
    h3 {
        margin: 15px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        margin-top: 15px;
        scroll-behavior: smooth !important;

    }
    a:hover{
        color: #b380dd;
    }
}

.footer{
    display: grid;
    grid-area: e;
    background-color: #ffd374;
    color: black;
    justify-items: center;
    align-items: center;
}
.sub-content{
    margin-left: 300px;
    margin-right: 300px;
/*    background-color: #ffe494;*/
}
.fil{
/*    width: 100%;*/
height: 100vh;
}

@media screen and (max-width: 480px) {
    .sub-content{
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        width: 100%;
    }
    .wrapper {
/*      grid-template-columns: 1fr 1fr;*/
/*      margin: 0px;  */
      display: grid;
      grid-template-columns: repeat(2, 1fr);  
      grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d"
        "e e";
/*        "g g";*/
    }
    .nav{
/*        grid-area: c;*/
        justify-content:center;
        display: inline-grid;
    }
    .nav ul li {
      justify-content: center;
      display: inline-grid;
    }
  }




